#banner {
    width:100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

#banner video {
    object-fit: cover;
    width:100%;
    min-height:100%;
    z-index: -100;
}

.banner-filter {
    position: absolute;
    background: linear-gradient(-225deg, rgba(48, 67, 82, 0.6) 0%, rgba(31, 28, 24, 0.3) 50%);
    width: 100%;
}

/* Mobile */
@media all and (max-width: 540px) {
    #banner {
        height: 37vh;
    }

    .banner-filter {
        height: 37vh;
    }
}

/* Desktop */
@media all and (min-width: 541px) {
    #banner {
        height: 87vh;
    }
    
    .banner-filter {
        height: 87vh;
    }
}

/* Sport coaching page */

.spcoach-banner {
    background-size: cover !important;    
}