#banner {
    margin: 0;
    padding: 0;
}

#video-background:before {
    content: '';
    background: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%); 
}

#video-background {
    max-width: 100%;
    object-fit: cover;
    width: 100%;
    height :100%;
    z-index: -100;
}

/* Mobile */
@media all and (max-width: 540px) {
    #banner {
        height: 37vh;
    }
}

/* Desktop */
@media all and (min-width: 541px) {
    #banner {
        height: 87vh;
    }
}