.climb-benefit {
    background: url(../img/climbing-1358470_1280.jpg) no-repeat center; 
    background-size: cover;
}

.climb-offer {
    text-transform: uppercase;
}

.climb-offer-text {
    text-align: center;
    padding: 20px;
    font-size: 1.3em;
}

.climb-group {
    background: url(../img/pexels-photo-419292.jpeg) no-repeat center; 
    background-size: cover;
}

.climb-group-text {
    padding: 0 20px;
}

.climb-group-text p:last-child {
    text-align: center;
    font-size: 1.2em;
}

.offers-img {
    background: url(../img/18882310_1404317339653100_1368706232376050177_n.jpg) no-repeat center; 
    background-size: cover;
}

.climb-offers {
    padding: 0 20px;
}

.offers-price {
    font-size: 1.3em;
    text-align: center;
    margin-top: 40px;
}

.climb-offers h3 {
    text-align: center;
    margin-top: 40px;
}

/* Desktop */
@media all and (min-width: 1100px) {
    .climb-benefit {
        height: 500px;
        width: 60%;
    }

    .climb-offer {
        margin-top: 100px;
    }

    .climb-offer-text {
        margin-top: 40px;
        line-height: 3;
    }
    
    .climb-group {
        height: 500px;
        width: 50%;
    }
    
    .climb-group-text {
        width: 50%;
    }

    .climb-group-text h2 {
        margin: 50px 0;
    }

    .climb-group-text p:last-child {
        margin-top: 50px;
    }

    .offers-img {
        height: 568px;
        width: 47%;
    }
}