#coaches {
    color: #FFFFFF;
    font-size: 1.4em;
    padding: 40px;
    margin: 0;
    background: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url(../img/pexels-photo-416754.jpeg) no-repeat center fixed; 
    background-size: cover; 
    display: flex;
}

.coach-avatar-mob {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 3px solid #FFFFFF;
    box-shadow: 2px 2px 5px #000000;
}

/* Mobile */
@media all and (max-width: 540px) {
    #coaches {
        flex-direction: column;
    }
    
    #coaches p {
        margin-top: 40px;
    }

    #coaches hr {
        width: 100%;
    }
    
    .coach {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .coach-desk {
        display: none;
    }
}

/* Desktop */
@media all and (min-width: 541px) {
    #coaches {
        justify-content: space-between;
    }

    #coaches h1 {
        margin-top: 0;
    }
    
    #coaches hr {
        display: none;
    }

    .coach:last-child img {
        /* margin-left: 40px; */
    }

    .coach {
        display: flex;
        justify-content: space-between;
    }

    .coach-mob {
        display: none;
    }

    .coach-text {
        padding-left: 15px;
    }
}