.coach {
    color: #FFFFFF;
    font-size: 1.4em;
    margin: 0;
    background: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url(../img/pexels-photo-416754.jpeg) no-repeat center fixed; 
    background-size: cover; 
    display: flex;
}

/* Mobile */
@media all and (max-width: 540px) {
    .coach {
        padding: 50px 40px;
        flex-direction: column;
        align-items: center;
    }

    .coach-avatar-mob {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        border: 3px solid #FFFFFF;
        box-shadow: 2px 2px 5px #000000;
    }
    
    .coach p {
        margin-top: 40px;
    }

    .coach hr {
        width: 100%;
    }
}

/* Desktop */
@media all and (min-width: 541px) {
    .coach {
        padding:40px;
        padding: 40px 15vh;
        justify-content: space-between;
    }

    .coach-avatar-mob {
        display: none;
    }

    .coach hr {
        display: none;
    }
    
    .coach p {
        margin-left: 40px;
    }
}