#contact {
    background-color: #FFFFFF;
    color: #126131;
    font-size: 1.5em;
    padding: 40px;
}

#contact h1 {
    font-size: 1.3em;
    text-align: center;
}

#form form {
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.form {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 1em;
    margin-bottom: 20px;
    padding: 10px;
    border: 2px solid #126131;
    border-radius: 5px;
}

textarea.form {
    height: 100px;
}

#form button {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 1.1em;
    color: #FFFFFF;
    background-color: #126131;
    border: 2px solid #126131;
    border-radius: 5px;
    box-shadow: inset 0 -3px #126131;
    padding: 10px;
    width: 100px;
    text-align: center;
}

#form button:hover {
    background-color: #40ae49;
}

#form button:active {
    box-shadow: inset 0 5px #40ae49;
    padding: 15px 10px 5px 10px;
}

.send-button {
    display: flex;
    justify-content: flex-end;
}

.contact-list {
    display: flex;
}

.contact-list ul {
    list-style-type: none;
}

.contact-list-icon {
    text-align: center;
    line-height: 4;
}

.contact-list-text {
    line-height: 1.98;
}

.contact-list-text a {
    color: #126131;
    text-decoration: none;
}

.contact-list-text a:hover {
    color: #40ae49;
}

#contact-me i {
    font-size: 1.5em;
    color: #40ae49;
}

#follow-me i {
    font-size: 2.8em;
    color: #40ae49;
}

#follow-me i:hover {
    font-size: 2.8em;
    color: #126131;
}

.follow-icons {
    display: flex;
    justify-content: space-around;
}

/* Mobile */
@media all and (max-width: 997px) {
    .contact-list {
        margin-top: 40px;
    }
    
    #follow-me {
        margin-top: 40px;
    }
}

/* Desktop */
@media all and (min-width: 998px) {
    #contact {
        display: flex;
    }

    #contact-me {
        width: 66%;
    }
    
    .contact-me-content {
        display: flex;
        justify-content: space-between;
        padding-right: 40px
    }

    #form {
        width: 66%;
    }

    #contact hr {
        display: none;
    }

    #follow-me {
        width: 33%;
        padding-left: 40px;
        border-left: 1px solid #BBBBBB;
        text-align: center;
    }
}