@media all and (min-width: 541px) {
    .banner {
        height: 87vh;
        margin:0;
        padding:0;
    }

    #video-background {
        position: fixed;
        max-width: 100%;
        top: 50%;
        transform: translateY(-50%);
        z-index: -100;
        }
}