@media all and (max-width: 1129px) {
    .medium-nav {
        display: none;
    }

	#navbar {
		height: 45px;
	}
	
	#navbar i {
		color: #FFFFFF;
	}

	#navbar img {
		height: 70px;
		position: absolute;
		padding-top: 5px;		
	}

	.nav-mobile {
		display: flex;
		justify-content: space-between;
		font-size: 35px;
		color: #FFFFFF;
		padding: 5px 10px 5px 5px;
	}

	#title {
		padding-left: 60px;
		font-size: 0.65em;
		padding-top: 5px;
	}
	
	#mobile-menu {
		background-color: rgba(18, 97, 49, 0.90);
		padding: 1px;
		margin-top: -5px;
		text-align: center;
		font-size: 25px;
		display: none;
	}

	#mobile-menu ul {
		padding-left: 0;
		list-style-type: none;
	}

	#mobile-menu li {
		padding: 30px 0;
	}

	#mobile-menu a {
		color: #FFFFFF;
		text-decoration: none;
	}

	.underline {
		border-bottom: 2px solid #40ae49;
	}

	.mobile-menu:hover {
		background-color: #40ae49;
	}
}