.rs-intro a {
    color: #126131;
}

.rs-intro a:hover {
    color: #40ae49;
    text-decoration: none;
}

.rs-offer {
    background: url(../img/dsc_0396.jpg) no-repeat center; 
    background-size: cover;
}

.rs-price {
    background: url(../img/dsc_0066.jpg) no-repeat center; 
    background-size: cover;
}

.rs-price-text {
    text-align: center;
    margin: 10px;
}

.rs-price-text p:first-of-type{
    font-size: 1.2em;
}

.rs-price-text p:last-of-type{
    font-size: 0.9em;
}

/* Mobile */
@media all and (max-width: 1099px) {
    .clients {
        line-height: 0.5;
        margin-top: 50px;
        display: flex;
        justify-content: space-around;
    }
}

/* Desktop */
@media all and (min-width: 1100px) {
    .rs-offer {
        height: 500px;
        width: 60%;
    }

    .rs-offer-text {
        margin-right: 10px;
        width: 40%;
    }

    .rs-offer-text ul {
        margin-left: 50px;
    }

    .rs-price {
        height: 500px;
        width: 75%;
    }

    .rs-price-text {
        line-height: 3;
        margin-top: 80px;
    }

    .clients-all {
        display: flex;
        justify-content: space-around;
    }

    .clients {
        width: 50%;
        display: flex;
        justify-content: space-around;
    }
}