@import url(mobile-menu.css);
@import url(stand-menu.css);
@import url(banner.css);
@import url(wrapper.css);
@import url(card.css);
@import url(coach.css);
@import url(contact.css);
@import url(footer.css);

body {
	background-color: #515052;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	color: #000103;
	font-size: 15px;
	margin: 0;
}

#navbar {
	background-color: #40ae49;
	border-bottom: 3px solid #126131;
	width: 100%;
	position: fixed;
	z-index: 100;
}

.catchline {
	padding: 25px 10px;
	background-color: #FFFFFA;
	color: #126131;
	font-size: 2em;
	text-align: center;
	vertical-align: middle;
	position: center;
}

.witness {
	height: 40vh;
	background-color: #FFFFFA;
}

.partners {
	height: 40vh;
	background-color: #E8E8E3;
}