@import url(mobile-menu.css);
@import url(stand-menu.css);
@import url(banner.css);
@import url(lines.css);
@import url(trust.css);
@import url(wrapper.css);
@import url(card.css);
@import url(coach.css);
@import url(witness.css);
@import url(contact.css);
@import url(footer.css);

body {
	background-color: #FFFFFF;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	color: #000103;
	font-size: 15px;
	margin: 0;
}

#navbar {
	background-color: #40ae49;
	border-bottom: 3px solid #126131;
	width: 100%;
	position: fixed;
	z-index: 100;
}

#navbar img:hover {
	cursor: pointer; cursor: hand;
}

.catchline {
	padding: 25px 10px;
	background-color: #FFFFFA;
	color: #126131;
	font-size: 2em;
	text-align: center;
	vertical-align: middle;
	position: center;
}

#partners {
	height: 35vh;
	background-color: #E8E8E3;
	padding: 20px;
	text-align: center;
	margin-bottom: 20px;
}

#partners img {
	height: 80px;
}

.totop {
	background-color: #E8E8E3;
	opacity: 0.5;
	border-radius: 5px 0 0 5px;
	width: 30px;
	height: 40px;
	right: 0px;
	bottom: 5vh;
	padding: 10px;
	position: fixed;
	z-index: 100;
	display: flex;
	justify-content: center;
	align-items: center;
	display: none;
}

.totop:hover {
	cursor: pointer; cursor: hand;
	opacity: 1;
}

.totop i {
	color: 515052;
	font-size: 2.5em;
}

.and {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.9em;
}

.spt {
	color: #40ae49;
}