@import url(mobile-menu.css);
@import url(stand-menu.css);
@import url(card.css);
@import url(wrapper.css);
@import url(coach.css);
@import url(footer.css);

body {
	background-color: grey;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	color: black;
	font-size: 15px;
	margin: 0;
}

.navbar {
	background-color: #40ae49;
	border-bottom: 3px solid #126131;
	width: 100%;
	position: fixed;
}

.banner {
	height: 80vh;
	margin:0;
	padding:0;
	background:url(../img/banner.jpg) no-repeat center center fixed; 
	background-size:cover; 
}

.catchline {
	padding: 25px 10px;
	background-color: #FFFFFF;
	color: #126131;
	font-size: 2em;
	text-align: center;
	vertical-align: middle;
}

.witness {
	height: 40vh;
	background-color: #FFFFFF;
}