.wrapper {
    background-color: #FFFFFF;    
    padding: 70px 25px;
    display: flex;
}

/* mobile */
@media all and (max-width: 1019px) {
    .wrapper {
        padding: 50px 0 0 0; 
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
}

/* standard */
@media all and (min-width: 1020px) {
    .wrapper {
        justify-content: space-around;
    }
}
